div(class="modal fade" id="collab-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
      
            div(class="modal-body")
                | Just simply share this snippet with others and collabarate together in realtime
       
            div(class="modal-footer")
                button(type="button" id="confirm-collab" class="btn btn-primary" data-dismiss="modal")
                    | Continue